
*{

  /* background-image: url('./Images/bg1.png'); */
}
.App {
  text-align: center;
}

#connectBtn{
  margin-top: 25%;
  font-size: 1.4em;
  font-weight: bold;
}

input{
  border-radius: 12px;
  border-radius: 0.2px solid grey;
  padding: 10px;

}
button{
  margin-left: 10px;
}